.section-top-right {
    /*width: 100%;*/

    font-style: normal;
    /*font-weight: 500;*/
    font-size: 14px;
    line-height: 22px;

    display: flex;
    align-items: center;

    position: absolute;
    top: 9px;
    right: 0;

    color: var(--secondary-text-color);
}

.section-fee-contents {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.section-fee-contents-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.section-fee-contents-right {
    flex: 1.5;
    /*background: aqua;*/
    display: flex;
    height: 504px;
}

.section-fee-monthly {
    display: flex;
    width: 100%;
    height: 200px;

    flex-direction: column;
    gap: 10px;

    background: var(--point-color);
    box-sizing: border-box;
    padding: 28px;
}

.section-fee-monthly-detail {
    display: flex;
    width: 100%;
    height: 280px;
}

.section-fee-monthly-selector {
    display: flex;
    flex-direction: row;
    gap: 18px;

    order: 1;
}

.section-fee-selector {
    color: white;
    /*background-color: white;*/
}

.section-fee-montly-middle {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 10px;
}

.section-fee-monthly-fee {
    /*order: 1;*/
    color: white;

    font-weight: 800;
    font-size: 30px;
    vertical-align: bottom;
    line-height: 50px;

    /*padding-top: 15px;*/

    /*height: 50px;*/
    flex: 1;
}

.section-fee-monthly-deadline {
    order: 2;
    color: white;
    font-size: 12px;
}