.section-inout-cards {
    display: flex;
    flex-direction: row;
    gap: 24px;
    overflow-x: scroll;
    width: 100%;
}

.section-inout-title {
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    display: flex;
    align-items: center;

    color: var(--secondary-text-color);
}