.payment-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
    align-items:flex-start;
}

.payment-left {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.payment-left-price {
    display: flex;
    flex-direction: column;
    /*gap: 5px;*/
}

.payment-left-price-title {
    font-weight: 600;
    font-size: 18px;
}

.payment-left-price-num {
    font-weight: 700;
    font-size: 30px;
}

@media (max-width: 1200px) {
    .section-fee-list {
        flex-direction: column !important;
    }
}

@media (max-width: 880px) {
    .payment-content {
        width: 100%;
        flex-direction: column;
    }

    .payment-left {
        width: 100%;
        order: 0;
        flex-direction: row;
    }

    .payment-left-price {
        flex: 1;
    }
}

@media (max-width: 980px) {
    .payment-content {
        margin-top: -50px;
    }
}