.post-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 38px;
    gap: 10px;

    width: 100%;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.post-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 15px;

    flex: 1;
}

.post-right-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 3px;

    height: 64px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.post-top-title {
    width: 100%;
    height: 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.post-top-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;

    width: 100%;
    height: 15px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    /* 2차텍스트 */

    color: #393939;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.post-top-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;

    width: 100%;
    height: 15px;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.post-top-sub-author {
    height: 15px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    text-align: center;

    /* 2차텍스트 */

    color: #393939;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.updown {
    /*border: 5px solid black;*/
    width: 0.1px;
    height: 100%;
}

.leftright {
    width: 100%;
}

.post-content {
    width: 100%;
    background: #00000000;
    padding: 0;
}

.goBack {
    cursor: pointer;
}

.post-comment-root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 100%;

    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;
}

.post-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 18px;

    width: 100%;
    height: 16px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.post-info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;

    height: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.post-info-item > span {
    width: 16px;
    height: 16px;

    font-size: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #393939;
}

.post-info-text {
    height: 15px;

    /* 글-상단정보 */

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #393939;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.icon-pink-f {
    color: #E44E9F !important;
}

.post-top-sub > span {
    height: 15px;
    width: 15px;
    font-size: 15px;
    color: var(--secondary-text-color);
}
