#section-main {
    display: flex;
    padding: 0;
    margin-left: -190px;
    transition: margin-left 500ms ease-out;
}

#section-main.open {
    margin-left: 0;
    transition: margin-left 500ms ease-in;
}

#section-main-content {
    padding: 20px 38px 20px 38px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;

    flex: 1;
    order: 1;
}